<div class="container">
  <div class="content">
    <div class="profile-card">
      <div class="firstinfo"><%= image_tag @composer.profile_pic.url(:thumb) %>
        <div class="profileinfo">
          <h1><%= @composer.name %></h1>
          <p class="bio"><%= @composer.bio %></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 compositions">
        <div class="card ">
          <h1>Selected Compositions</h1>
          <% unless @compositions.empty? %>
              <table class="table table-hover">
                <thead>
                <tr>
                  <td scope="col">Name</td>
                  <td scope="col">Year Composed</td>
                </tr>
                </thead>
                <%= render @compositions %>
              </table>
          <% end %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <h1>Recommended Versions</h1>
          <% unless @links.empty? %>
              <table class="table table-hover">
                <thead>
                <tr>
                  <td scope="col">Version</td>
                  <td scope="col"></td>
                </tr>
                </thead>
                <% @compositions.each do |comp| %>
                    <%= render 'link', link: comp.link, version: comp.version %>
                <% end %>
              </table>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
